
<div class="container col-md-10 col-md-offset-1">
  <h3 class="label_for_auth">アカウント情報の編集 <%#= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <p>
      <button type="button" class="btn btn-warning submit_button" data-toggle="collapse" data-target="#change_password" aria-expanded="false" aria-controls="change_password">
        パスワードの変更
      </button>
    </p>

    <div class="collapse" id="change_password">
      <div class="card card-body">
        <div class="form-group">
          <%= f.label :password, "新しいパスワード" %>
          <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "新しいパスワード（確認用）" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
    </div>

    <fieldset>
      <div class="form-group">
        <%= f.label :current_password, "現在のパスワード" %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit '保存', :class => 'button btn btn-primary submit_button' %>
  <% end %>
</div>

<!--
<div class="authform">
<h3>Cancel Account</h3>
<p>Unhappy? We'll be sad to see you go.</p>
<%#= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
</div>
-->
